@media screen and (-webkit-min-device-pixel-ratio:0) {
html {
    margin-left: -1px;
}
}
body{
    font-family: 'Varela Round', sans-serif;
}
body h1{
    font-weight: bold;
}
#wraper{
    margin-top:70px;
    top:50px;
    position: relative;
}
#mainContent{
    left:317px;
}
#sideMenu {
    min-width: 279px;
    z-index: 999;
    background-color: white;
    position: fixed;
    top:50px;
    padding-left:50px;
}

#sideMenu ul {
    padding:0px;
    text-decoration: none;
    list-style-type: none;
    color:inherit;
}
#sideMenu #menuItems {
    margin-top: 20px;
    line-height: 3vh;
}
#sideMenu #menuItems ul li{
    padding-left: 20px;
}
a, a:hover, a:active, a:visited, a:link{
    text-decoration: none;
    color:black;
}

.content{
}
#mainImg{
    display: block;
    position: relative;
}



#bio{
    overflow: hidden;
}
#contacto{
    text-align: left;
}
#galeria .slide{
    width: auto;
    margin: 5px;
    min-width: 20vw;
}
#galeria .slide img{
    max-height: 70vh;
}
#galeria{
    display: inline-flex;
}
#galeria .slide h5{
    padding-right:20px;
    padding-top: 20px;
}
#galeria .slide h6{
    padding-right:20px;
}
