<div class="row" id="bio">
    <div class="col-sm-6 imagen">
        <div class="row">
            <div class="col-sm-12">
                <h2>Bio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Mora Vitali nació en Mar del Plata, en 1988. Cursó la carrera de Fotografía en la Escuela de Artes Visuales M. Malharro.
                </p>
                <p>
                    A lo largo de 2011, su serie 'A Simple Love Story' recorrió espacios de arte como la histórica galería Casa de Madera y la sala de la Biblioteca Central de la UNMDP. Sus exposiciones individuales anteriores, 'Solo los superficiales se conocen a si mismos', y 'Novia en Rojo' estuvieron en el Teatro Diagonal, y en centros culturales de Argentina y Venezuela.
                </p>
                <p>
                    Participó en distintas muestras colectivas, en el Centro Cultural Recoleta, (El Viaje, curada por Pilar Altilio, también vista en el Espacio Contemporáneo de Arte ECA Mendoza), Villa Victoria Ocampo y El Centro Cultural Auditorium.
                </p>
                <p>
                    Sus fotos participan de publicaciones gráficas como la revista 'AfterPop', y el libro 'Desde adentro. Miradas del Complejo Centenario'.
                </p>
                <p>
                    En este momento cursa en la UBA la Licenciatura en Artes Plásticas, y vive en la Ciudad de Buenos Aires.
                </p>
                <p>
                    http://www.flickr.com/photos/mint_morning/
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Seleccion de muestras</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>2015 Salón Nacional de Artes Visuales. Palais de Glace. Buenos Aires.</li>
                    <li>2013 / 2014 Fútbol: El juego sólo acaba cuando termina Museo Emilio Caraffa (Córdoba), Museo Universidad Tres de Febrero (Buenos Aires), Museo de Arte Contemporáneo (Santiago de Chile), entre otros.</li>
                    <li>2014 Nueve vínculos con la fotografía. Fotogalería del Prado, Centro de Fotografía de Montevideo, Uruguay.</li>
                    <li>2014 Fotografías Colección Caraffa, Lo efímero persistente. Museo Emilio Caraffa, Córdoba.</li>
                    <li>2014 Dieciocho, Rojo productora de arte. Córdoba</li>
                    <li>2013 Paisaje Crítico, Centro Cultural Casona Municipal. Córdoba.</li>
                    <li>2012 Poetas en tiempos de escasez. Museo Emilio Caraffa. Córdoba.</li>
                    <li>2012 Pura Pinta, Museo Municipal de Artes Plásticas Dámaso Arce, Olavarría, provincia de Buenos Aires.</li>
                    <li>2011 Pura Pinta, Museo Municipal de Bellas Artes Genaro Pérez, Córdoba.</li>
                    <li>2011 Pura Pinta, Centro Cultural Ricardo Rojas, Universidad de Buenos Aires.</li>
                    <li>2010 XXXII Premio Salón Ciudad de Córdoba, Cabildo Histórico, Córdoba.</li>
                    <li>2010 LXXXVII Salón Nacional de Santa Fe, Museo Provincial de Bellas Artes Rosa Galisteo de Rodríguez, Santa Fe.</li>
                    <li>2010 Fotografía Contemporánea de Córdoba, Galería Monocromo. El Ojo Salvaje, mes de la fotografía, Asunción, Paraguay.</li>
                    <li>2009 Serie Dos , Retratos, Centro de Estudios Fotográficos, Córdoba.</li>
                    <li>2008 III Bienal Argentina de Fotografía Documental, Museo Provincial de Bellas Artes Timoteo Navarro, Tucumán.</li>
                    <li>2008 Adquisiciones 2007 / 2008 Museo Emilio Caraffa, Córdoba.</li>
                    <li>2007 Body Politics, políticas del cuerpo en la fotografía latinoamericana, Centro Cultural Recoleta, Buenos Aires.</li>
                    <li>2006 Interfaces Arte Contemporáneo Argentino, Museo Provincial de Bellas Artes Emilio Caraffa (Córdoba), Fondo Nacional de las Artes (Buenos Aires), Museo de Arte Contemporáneo de Posadas (Misiones).</li>
                    <li>2005 7 Enfants Terribles, Centro Cultural España-Córdoba.</li>
                    <li>2005 Quimera, Callejón de Exposiciones, Fotología 4 Festival Internacional de Fotografía de Bogotá, Colombia.</li>
                    <li>1998 Art Grafías. Rogue Art Gallery. Victoria, Canadá.</li>
                    <li>1997 Fracción, sala del Teatro Real, Córdoba.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
