<div class="row" id="cv">
    <div class="col-sm-6 imagen">
        <div class="row">
            <div class="col-sm-12">
                <h2>Seleccion de muestras</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li ng-repeat="muestra in muestras">
                        <time datetime="{{ muestra.anio }}" class="anio-muestra">{{ muestra.anio }}</time>&nbsp;{{ muestra.nombre }}
                        <a ng-if="muestra.link" href="muestra.link" target="_blank">Visitar link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
