<div class="row" id="bio">
    <div class="col-sm-6 imagen">
        <div class="row">
            <div class="col-sm-12">
                <h2>Seleccion de muestras</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        <time datetime="anio-muestra">anio-muestra</time>
                        texto-muestra
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
